<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
</head>
<body>
    <h1>{{title}} | {{votes}} &uarr; &darr;</h1>
    <h2>{{description}}</h2>
  <hr/>
    <ul>
      {{#commentDetails}}
      <li><a href="/topics/{{id}}">
        {{title}}</a> by {{author}}
        <br>{{content}}</li>
      {{/commentDetails}}
    </ul>
  <hr/>
  <h3>Create New Comment</h3>
  <form action="/topics/{{id}}" method="POST">
      <label>Title:<br>
        <input type="text" name="title" 
         size="40" placeholder="render as h3">
        </input>
      </label>
      <br>
      <label>Author:<br>
        <input type="text" name="author" size="40" placeholder="render as h5">
      </label>
      <br>
      <label>Content:<br>
        <textarea type="text" name="content" 
   rows="3" cols="29" placeholder="render as h4">
        </textarea>
      </label>
      <br>
      <button type="submit">Create</button>
  </form>
</body>
</html>