<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
</head>
<body>
  <nav>
    <a href="/topics">&larr; Back to topics</a>
  </nav>
  <h1>{{title}} | {{votes}} &uarr; &darr;</h1>
  <h2>{{description}}</h2>
  <hr/>
  <h3>Comments:</h3>  
    <ul>
      {{#commentDetails}}
      <li><a href="/topics/{{topics_id}}/comments/{{id}}" title="edit">
        {{title}}</a> by {{author}}
        <br>{{content}}</li>
        <br>
      {{/commentDetails}}
    </ul>
  <hr/>
  <h3>Create New Comment</h3>
  <form action="/topics/{{id}}" method="POST">
      <label>Title:<br>
        <input type="text" name="title" 
         size="58" maxlength="50" placeholder="render as h4">
        </input>
      </label>
      <br>
      <label>Author:<br>
        <input type="text" name="author" size="30" placeholder="render as h5">
      </label>
      <br>
      <label>Content:<br>
        <textarea type="text" name="content" 
   rows="5" cols="40" placeholder="render as text">
        </textarea>
      </label>
      <br>
      <button type="submit">Create</button>
  </form>
</body>
</html>