<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
</head>
<body>
  <form action="/topics/{{id}}/comments/create" method="GET">
    <button>Add Comment</button>
  </form>
  <form action="/topics/{{id}}?_method=DELETE" method="POST">
    <button>Delete Topic</button>
  </form>

  {{#topicDetails}}
    <h1>{{title}} | &uarr; {{votes}} &darr;</h1>
    <h2>{{description}}</h2>
  {{/topicDetails}}
  <br>
    <ul>
      <li><a href="/topics/{{id}}/comments/{{id}}">
      {{#commentDetails}}
        {{commentTitle}}</a> by {{commentAuthor}}</li>
      {{/commentDetails}}
    </ul>
</body>
</html>