<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comments</title>
</head>
<body>
  <form action="/topics/{{id}}/comments/create" method="GET">
    <button>Add Comment</button>
  </form>
  <form action="/topics/{{id}}?_method=DELETE" method="POST">
    <button>Delete Topic</button>
  </form>

  {{#commentDetails}}
    <h1>{{topic_id.title}} | &uarr; {{votes}} &darr;</h1>
    <h2>{{topic_id.description}}</h2>
  <br>
    <ul>
      <li><a href="/topics/:id/comments/{{id}}">
        {{title}}</a> by {{author}}
        <br>{{content}}</li>
      {{/commentDetails}}
    </ul>
</body>
</html>