<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hunter Chronicles - New Topic</title>
</head>
<body>
  <h1>Create New Comment</h1>
  <form action="/topics/{{id}}/comments" method="GET">
      <label>Title:<br>
        <input type="text" name="title" placeholder="render as h3">
      </label>
      <br>
      <label>Content:<br>
        <input type="text" name="content" placeholder="render as h4">
      </label>
      <br>
      <label>Author:<br>
        <input type="text" name="author" placeholder="render as h5">
      </label>
      <br>
      <button type="submit">Create</button>
  </form>
  <form action="/topics" method="GET">
    <button type="submit">Cancel</button>
  </form>
</body>
</html>